@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Arvo", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1a0000;
    color: #ffffffaf;
}

.heading {
    padding-bottom: 30px;
    font-size: 2rem;
    text-shadow: 0 0 10px #e9d900;
}

p{
    padding-bottom: 20px;
    font-size: 18px;
}

h1 {
    font-size: 50px;
}